<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apptgt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone_arvore_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".SobreActivity"></activity>
        <activity android:name=".MapaActivity" />
        <activity android:name=".SocioInfoActivity" />
        <activity android:name=".PerfilActivity" />
        <activity android:name=".ServicosActivity" />
        <activity android:name=".ContratosActivity" />
        <activity android:name=".AtividadesActivity" />
        <activity android:name=".ClientActivity" />
        <activity android:name=".SociosActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".CdActivity"
            android:noHistory="true" />
        <activity android:name=".MenuReservaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>